<h2>Color Management</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Color name</th>
            </tr>
        </thead>
        <tbody>
            {{#each colors }}
            <tr>
                <td><a>{{ name }}</a></td>
                <td></td>
            </tr>
            {{/each}}
        <tbody>
    </table>
</div>

<div style="background-color:white;color:white;padding:20px 80px;">
    <a class="button-3" href="/brand/add">Add new brand</a>
    <a class="button-3" href="/brand/deleteall">Delete all</a>
</div>